#!/usr/bin/make -f
%:
	dh $@ --no-parallel

override_dh_auto_install:
	$(MAKE) install DESTDIR=`pwd`/debian/tasksel
	$(MAKE) install-data DESTDIR=`pwd`/debian/tasksel-data

override_dh_installdocs:
	dh_installdocs --link-doc=tasksel

override_dh_perl:
	dh_perl -d

override_dh_clean:
	dh_clean
	if grep '^Description: .*,' debian/control; then \
		echo "E: found tasks that won't be installable (see #1004090, #1106127)"; \
		exit 1; \
	fi
